.logoo{
  background-image: url(images/bg-header-desktop.png), linear-gradient(0deg, rgba(255,255,255,0.5324511201839882) 21%, rgba(159,171,178,0.8125814133435973) 100%);
    background-size: cover;
    background-position: center center;
    text-align: center;
    padding: 10em 0;
  
}

.baslik{
  font-family: 'Bai Jamjuree', sans-serif;
  text-align: center;
  margin-top: -90px;
  display: grid;
  
  
}

#icerik1{
  text-align: center;
  color: #9FABB2;
  font-family: 'Bai Jamjuree', sans-serif;
  
}

.baslik2{
   padding: 20em 0;
  text-align: center;
  max-width: 50%;
  display: grid;
  margin: 0 auto;
  
  
}

#icerik2{
  text-align: center;
  color: #9FABB2;
  font-family: 'Bai Jamjuree', sans-serif;
  
}

.button-container {
  
  display: flex;
  justify-content: center;
  margin: 0 auto;
  

  
  
}

.download-button {
  display: inline-block;
  padding: 10px 20px;
  background-color: #007bff; 
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  margin: 0 10px;
  transition: background-color 0.3s ease;
  
}

.download-button:hover {
  background-color: #0056b3; 
}

.download-button.ios {
  background-color: #007bff; 

.download-button.mac {
  background-color: #333;
}

